{% extends "base.html" %}

{% block title %}{{ block.super }} - Domains - {{ domain }}{% endblock %}

{% block content %}
<h1>{{ domain }}</h1>
<dl>
	<dt>TTL</dt>
	<dd>{{ domain.ttl }}</dd>
</dl>

<h2>Handles</h2>
{% for domainhandle in domain.domainhandle_set.all %}
<div class="handle">
	<h3>{{ domainhandle.get_type_display }}: {{ domainhandle.handle }}</h3>
	<dl>
		{% for handledata in domainhandle.handle.handledata_set.all %}
		<dt>{{ handledata.field }}</dt>
		<dd>{{ handledata.value }}</dd>
		{% endfor %}
	</dl>
</div>
{% endfor %}

<h2>Records</h2>
<table>
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>TTL</th>
		<th>Value</th>
	</tr>
	{% for record in domain.dnsrecord_set.all %}
	<tr>
		<td>{{ record }}</td>
		<td><abbr title="{{ record.get_type_display }}">{{ record.type }}</abbr></td>
		<td>{% if record.ttl %}{{ record.ttl }}{% endif %}</td>
		<td>{{ record.data }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
